{% extends "oscar/layout.html" %}
{% load i18n %}
{% load thumbnail %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h1>
                {% blocktrans with name=store.name %}
                Welcome to our {{ name }} store
                {% endblocktrans %}
            </h1>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <a href="{% url stores:index %}" title="{% trans "View all stores" %}">
                <i class="icon-arrow-left"></i>
                {% trans "Back to all stores" %}
            </a>
        </div>
    </div>

    <section class="row-fluid">
        <map>
            <div class='store-map' style="width: 720px; height:450px;"></div>
        </map>
    </section>

    {% if store.image or store.description %}
    <div class="row-fluid">
        <div class="sub-header">
            <h2>{% trans "Store Details" %}</h2>
        </div>
    </div>

    <div class="row-fluid store-details">
        <div class="span3">
            {% thumbnail store.image "250x400" upscale=True as thumb %}
                <img src="{{ thumb.url }}"
                     alt="{% blocktrans with name=store.name %}Picture of the {{ name }} store.{% endblocktrans %}" />
            {% endthumbnail %}
        </div>

        <div class="span3">
            {% include "stores/partials/store_address.html" %}
            {% include "stores/partials/store_contact.html" %}
        </div>

        <div class="span6">
            {{ store.description|safe }}
        </div>
    </div>
    {% endif %}

    <div class="row-fluid">
        {% with periods=store.opening_periods.all %}
            {% if periods|length %}
                <div class='sub-header'>
                    <h5>{% trans "Opening Hours" %}</h5>
                </div>
                <table class='table table-bordered table-striped opening-hours'>
                    <tbody>
                    {% for period in periods %}
                        <tr>
                            <td>{{ period.printable_weekday }}</td>
                            <td>{{ period.printable_period }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    {% include "stores/partials/extrascripts.html" %}
{% endblock %}

{% block onbodyload %}
$('.store-map').each(function(elem) {
    stores.maps.createIndividualMap(this, $('.store-details address'), 16);
    $(this).css({width: $(this).parents('.row-fluid').width()});
});
{% endblock %}
