{% extends "oscar/layout.html" %}
{% load i18n %}
{% load staticfiles %}
{% load currency_filters %}

{% block extrahead %}
<style>map img { max-width: none; }</style>
{% endblock %}

{% block content %}
    <div class="container-fluid page">
        <div class="page_inner">
            <section class="stores-list">
                <h1 class="hidden-phone">{% trans "View our stores" %}</h1>
                <div class='row-fluid'>
                    <map class='span12'>
                        <div class='store-map' style="width: 880px; height: 380px;"></div>
                    </map>
    	        </div>

                {% for store in store_list %}
                <div class="row-fluid">
                    <div class="span12">
                        <div class="sub-header">
                            <h4>{{ store.name }}</h4>
                        </div>
                    </div>

                    <div class="span3">
                        {% include "stores/partials/store_address.html" %}
                    </div>
                    <div class="span3">
                    </div>
                    <div class="span3">
                        {% if store.opening_times.all|length %}
                        <div class='sub-header'>
                            <h5>{% trans "Opening Hours" %}</h5>
                        </div>
        		<table class='table table-bordered table-striped'>
                            <tbody>
                                {% for ot_item in store.opening_times.all %}
                                    <tr><td>{{ ot_item.title|capfirst }}</td><td>{{ ot_item.time }}</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>

                </div>
                {% endfor %}
            </section>
        </div>
    </div>
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>
    <script type="text/javascript" src="{% static "js/stores.js" %}"></script>
{% endblock %}

{% block onbodyload %}
    stores.maps.createOverviewMap();
{% endblock %}
