# Development
django-debug-toolbar>=1.10,<2.2
django-extensions>=2.1,<2.3
flake8>=3.7,<3.8

# Testing
coverage>=4.5,<4.6
django-webtest>=1.9,<1.10
factory-boy>=2.12,<2.13
pinocchio==0.4.2
psycopg2-binary>=2.8,<2.9
pytest-cov>=2.7,<2.9
pytest-django>=3.4,<3.6
tox>=3.1,<3.15
