Sphinx>=1.1.2
Werkzeug==0.8.3
coverage==3.5.1
django-debug-toolbar==0.9.4
django-dynamic-fixture==1.4.2
django-extensions==0.9
docutils==0.8.1
flake8==0.8
django-nose==1.1
WebTest==1.3.4
django-webtest==1.5.3
pyflakes==0.5.0
pinocchio==0.3.1
git+git://github.com/tinio/pysqlite.git@extension-enabled#egg=pysqlite
