# Development
Werkzeug==0.9.6
django-debug-toolbar==1.3.0
django-extensions==1.4.9
flake8==2.3.0

# Testing
coverage==3.7.1
coveralls==0.5
django-webtest==1.7.7
factory-boy>=2.4.1,<2.6
mock==1.0.1
pinocchio==0.4.2
psycopg2==2.5.4
pytest-cache==1.0
pytest-cov==1.8.1
pytest-django==2.8.0
pytest-xdist==1.11
pytest==2.7.0
tox==1.9.2
WebTest==2.0.17

# Included to handle conflict due to hard-coded version in django-extra-views
six==1.5.2
