{% load i18n %}
<address data-name="{{ store.name }}" data-lat="{{ store.location.x }}" data-lng="{{ store.location.y }}">
    <p>
        {{ store.line1|wordwrap:20|linebreaksbr }}<br />
        {% if store.line2 %}
            {{ store.line2|wordwrap:20|linebreaksbr }}<br />
        {% endif %}
        {{ store.city }} {{ store.postcode }}
    </p>
    <p class="view-store-details">
        <a href="{% url stores:detail store.slug %}" class="secondary">
            {% trans "View store details" %}
        </a>
    </p>
</address>
