{% extends 'dashboard/layout.html' %}
{% load i18n %}
{% load staticfiles %}

{% block body_class %}stores{% endblock %}

{% block extrahead %}
    <link rel='stylesheet' type='text/css' href="{% static "css/stores.css" %}" />
{% endblock %}

{% block title %}
{% if store %}
    {% blocktrans with store_name=store.name %}
    Update store {{ store_name }}
    {% endblocktrans %}
{% else %}
    {% trans "Create new store" %}
{% endif %}
| {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url dashboard:index %}">{% trans "Dashboard" %}</a>
        <span class="divider">/</span>
    </li>
    <li>
    <a href="{% url stores-dashboard:store-list %}">{% trans "Stores" %}</a>
        <span class="divider">/</span>
    </li>
    <li class="active"><a href=".">{{ store.name }}</a></li>
</ul>
{% endblock %}

{% block header %}
<div class="page-header">
	<h1>{{ store.name }}</h1>
</div>
{% endblock header %}

{% block dashboard_content %}
<form action="." method="post" class="form-horizontal" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="well well-blank">

        <div class="sub-header">
            <h3>{% trans "Store Details" %}</h3>
        </div>

        <span class="help-block">{{ form.non_field_errors }}</span>
        {% for field in form %}

            {% include "partials/field.html" %}

            {% if forloop.first %}
                {# add the address inline form here #}
                {% with formset=inlines.1 %}
                    {{ formset.management_form }}
                    {% for address_form in formset %}

                        {% for field in address_form %}
                            {% include "partials/field.html" %}
                        {% endfor %}

                    {% endfor %}
                {% endwith %}
            {% endif %}
        {% endfor %}
    </div>

    {# we are adding the contact detail inline form here #}
    {% with formset=inlines.2 %}
    <div class="well well-blank">
        <div class="sub-header">
            <h3>{% trans "Store contact" %}</h3>
        </div>

        <div class="span2">
            {{ formset.management_form }}
            {% for contact_form in formset %}

                {% for field in contact_form %}
                    {% include "partials/field.html" %}
                {% endfor %}

            {% endfor %}
        </div>
    </div>
    {% endwith %}

    <div class="well well-blank">
        <div class="sub-header">
            <h3>{% trans "Store location" %}</h3>
        </div>

        <div>
            <input type="text" id="search-text-field" class="span12" style="margin-bottom: 10px; width: 968px;"/>
            <div id="store-map" style="width: 968px; height: 380px"></div>
        </div>
    </div>

    {# use the first formset which is the opening times #}
    {% with formset=inlines.0 %}
    <div class="well well-blank">

        <div class="sub-header">
            <h3>{% trans "Opening Hours" %}</h3>
        </div>

        {{ formset.management_form }}
        {% for form in formset %}
        <div class='row-fluid' style="margin-bottom: 1em;">

            {% for field in form %}
                {% include "partials/field_inline.html" %}
            {% endfor %}

        </div>
        {% endfor %}
    </div>
    {% endwith %}

    <hr/>

    <div class="control-group">
        <div class="pull-right">
            <a href="{% url stores-dashboard:store-list %}">{% trans "Cancel" %}</a>
            or
            <button class="btn btn-primary btn-large" type="submit">{% trans "Save Store" %}</button>
        </div>
    </div>
</form>
</div>
{% endblock dashboard_content %}

{% block extrascripts %}
{{ block.super }}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>
<script type="text/javascript" src="{% static "js/dashboard.js" %}"></script>
{% endblock %}

{% block onbodyload %}
stores.dashboard.init();
{% endblock onbodyload %}
