{% extends 'dashboard/layout.html' %}
{% load url from future %}
{% load i18n %}
{% load staticfiles %}

{% block body_class %}stores{% endblock %}

{% block extrahead %}
    <link rel='stylesheet' type='text/css' href="{% static "stores/css/stores.css" %}" />
{% endblock %}

{% block title %}
{{ title }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
    </li>
    <li>
        <a href="{% url 'stores-dashboard:store-list' %}">{% trans "Stores" %}</a>
    </li>
    <li class="active">{{ title }}</li>
</ul>
{% endblock %}

{% block headertext %}{{ title }}{% endblock %}

{% block dashboard_content %}

{% if form.errors %}
<div class="alert alert-danger">
    {% trans "Your submitted data did not validate - please correct the below errors and resubmit." %}
</div>
{% endif %}

<form action="." method="post" class="form-vertical wysiwyg" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger form-group danger">
                <span class="help-inline"><i class="icon-exclamation-sign"></i> {{ error }}</span>
            </div>
        {% endfor %}
    {% endif %}

    <div class="table-header">
        <h3>{% trans "Store details" %}</h3>
    </div>
    <div class="well">
        {% include "dashboard/partials/form_field.html" with field=form.name %}
        {% include "dashboard/partials/form_field.html" with field=form.description %}
        {% include "dashboard/partials/form_field.html" with field=form.reference %}
        {% include "dashboard/partials/form_field.html" with field=form.group %}
        {% include "dashboard/partials/form_field.html" with field=form.image %}
        {% include "dashboard/partials/form_field.html" with field=form.is_pickup_store %}
        {% include "dashboard/partials/form_field.html" with field=form.is_active %}
    </div>

    <div class="table-header">
        <h3>{% trans "Contact details" %}</h3>
    </div>
    <div class="well">
        {% include "dashboard/partials/form_field.html" with field=form.manager_name %}
        {% include "dashboard/partials/form_field.html" with field=form.phone %}
        {% include "dashboard/partials/form_field.html" with field=form.email %}
    </div>

    <div class="table-header">
        <h3>{% trans "Address" %}</h3>
    </div>
    <div class="well">
        {% with formset=inlines.1 %}
            {{ formset.management_form }}
            {% for address_form in formset %}
                {% if address_form.non_field_errors %}
                    {% for error in address_form.non_field_errors %}
                        <div class="alert alert-danger form-group danger">
                            <span class="help-inline"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                        </div>
                    {% endfor %}
                {% endif %}

                {% for field in address_form %}
                    {% include "dashboard/partials/form_field.html" %}
                {% endfor %}
            {% endfor %}
        {% endwith %}
    </div>

    <div class="table-header">
        <h3>{% trans "Location" %}</h3>
    </div>
    <div class="well">
        <p>
            {% blocktrans %}
            Enter an adddress in the location input and select your address from the options that appear.
            You can drag the marker around on the map to fine-tune the location.
            {% endblocktrans %}
        </p>
        {% include "dashboard/partials/form_field.html" with field=form.location %}
        <div class="well well-blank">
            <div class="controls">
                <input type="text" id="search-text-field" class="col-md-12" style="margin-bottom: 10px; width: 968px;"/>
                {% if form.location.errors %}
                    <div class="alert alert-danger">{% trans "Please select a location for your store." %}</div>
                {% endif %}
                <div id="store-map" style="width: 968px; height: 380px"></div>
            </div>
        </div>
    </div>

    <div class="table-header">
        <h3>{% trans "Opening hours" %}</h3>
    </div>

    <div class="well form-horizontal" id="opening_hours_form">
        {# use the first formset which is the opening times #}
        {% with workhours=inlines.0 %}
            {{ formset.management_form }}
            {% for formset in workhours %}
            {% if formset.non_field_errors %}
                {% for error in formset.non_field_errors %}
                    <div class="alert alert-danger form-group danger">
                        <span class="help-inline"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="weekday-block well">
                <div class="col-md-2">
                  <label>{{ formset.get_weekday_display }}</label>
                </div>

                <div class="col-md-1">
                    <label>{{ formset.open.label }}</label>
                    {{ formset.open }}
                </div>

                <div class="col-md-8">

                  <div class="row"></div>

                  <div class="row">
                    <div class="col-md-2">
                      {{ formset.0.start.label_tag }}
                    </div>
                    <div class=col-md-2">
                      {{ formset.0.end.label_tag }}
                    </div>
                  </div>

                  {% for form in formset %}
                  <div class="row hour-input{% if not forloop.first and not form.start.value and not form.end.value %} hide{% endif %}"
                      style="margin-bottom: 1em">

                    <div class="col-md-2">
                    {{ form.start }}
                    </div>
                    <div class="col-md-2">
                    {{ form.end }}
                    </div>

                    {{ form.id }}

                    {% if form.errors %}
                    <div class="col-md-4">
                      <div class="alert alert-danger">
                      {% for field in form %}
                        {% if field.errors %}
                          {{ field.label }}:
                          {% for err in field.errors %}{{ err }}{% endfor %}
                          <br />
                        {% endif %}
                      {% endfor %}

                      {# Non-field errors #}
                      {% if form.non_field_errors %}
                        {{ form.non_field_errors }}
                        <br />
                      {% endif %}
                      </div>
                    </div>
                    {% endif %}
                  </div>
                  {% endfor %}

                  <div class="row">
                    <div class="col-md-2">
                      <button class="btn add-more">+</button>
                    </div>
                  </div>

                  <div class="row"></div>

                </div>

                {{ formset.management_form }}
            </div>
            {% endfor %}
        {% endwith %}
    </div>

    <div class="form-group">
        <div class="pull-right">
            <a href="{% url 'stores-dashboard:store-list' %}">{% trans "Cancel" %}</a>
            {% trans "or" %}
            <button class="btn btn-primary btn-large" type="submit">{% trans "Save" %}</button>
        </div>
    </div>
</form>
{% endblock dashboard_content %}

{% block extrascripts %}
    {{ block.super }}
    <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false&libraries=places"></script>
    <script type="text/javascript" src="{% static "stores/js/dashboard.js" %}"></script>
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    stores.dashboard.init();
    $('.nav-list a').on('shown', function (e) {
        google.maps.event.trigger(stores.dashboard.map, 'resize');
    })
{% endblock onbodyload %}
