{% extends 'dashboard/layout.html' %}
{% load i18n %}

{% block title %}
{% trans "Delete store group?" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url dashboard:index %}">{% trans "Dashboard" %}</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url stores-dashboard:store-list %}">{% trans "Store groups" %}</a>
        <span class="divider">/</span>
    </li>
    <li class="active">{% trans "Delete store group?" %}</li>
</ul>
{% endblock %}

{% block header %}
<div class="page-header">
    <h1>{% trans "Delete store group?" %}</h1>
</div>
{% endblock header%}

{% block dashboard_content %}
<form action="." method="post">
    {% csrf_token %}
    {% blocktrans with group_name=object.name %}
    <p>Delete store group <strong>{{ group_name }}</strong> - are you sure?</p>
    {% endblocktrans %}
    <div class="form-actions pull-right">
        <a href="{% url stores-dashboard:store-group-list %}">{% trans "Cancel" %}</a>
        {% trans "or" %}
        <button type="submit" class="btn btn-danger">{% trans "delete" %}</button>
    </div>
</form>
{% endblock %}
