{% extends 'oscar/dashboard/layout.html' %}
{% load i18n %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'stores-dashboard:store-list' %}">{% trans "Stores" %}</a></li>
        <li class="breadcrumb-item">{{ object.name }}</li>
        <li class="breadcrumb-item active" aria-current="page">{% trans "Delete?" %}</li>
    </ol>
</nav>
{% endblock %}

{% block headertext %}
    {% trans "Delete store?" %}
{% endblock %}

{% block dashboard_content %}
<div class="card card-body bg-light">
    <form method="post">
        {% csrf_token %}
        <div class="form-actions">
            {% blocktrans with store_name=object.name %}
            <p>Delete store <strong>{{ store_name }}</strong> - are you sure?</p>
            {% endblocktrans %}
            <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
            {% trans "or" %}
            <a href="{% url 'stores-dashboard:store-list' %}">{% trans "cancel" %}</a>
        </div>
    </form>
</div>
{% endblock %}
