{% extends 'dashboard/layout.html' %}
{% load i18n %}

{% block body_class %}stores{% endblock %}

{% block extrahead %}
<style>map img { max-width: none; }</style>
{% endblock %}

{% block title %}
{% if store %}
    {% blocktrans with store_name=store.name %}
    Update store {{ store_name }}
    {% endblocktrans %}
{% else %}
    {% trans "Create new store" %}
{% endif %}
| {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url dashboard:index %}">{% trans "Dashboard" %}</a>
        <span class="divider">/</span>
    </li>
    <li>
    <a href="{% url stores-dashboard:store-list %}">{% trans "Stores" %}</a>
        <span class="divider">/</span>
    </li>
    <li class="active"><a href=".">{{ store.name }}</a></li>
</ul>
{% endblock %}

{% block header %}
<div class="page-header">
	<h1>{{ store.name }}</h1>
</div>
{% endblock header %}

{% block dashboard_content %}
<form action="." method="post" class="form-horizontal" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="well well-blank">

        <div class="sub-header">
            <h3>{% trans "Store Details" %}</h3>
        </div>

        <span class="help-block">{{ form.non_field_errors }}</span>
        {% for field in form %}
            {% if field.is_hidden %}
                {{ field }}
            {% endif %}

            <div class="control-group {% for error in field.errors %}error{% endfor %}">
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                <label for="{{ field.auto_id }}" class="control-label {% if field.field.required %}required{% endif %}">
                    {{ field.label }}{% if field.field.required %} <span>*</span>{% endif %}
                </label>
                <div class="controls">
                    {{ field }}
                    {% for error in field.errors %}
                        <span class="help-block">
                        {{ error|escape }}
                        </span>
                    {% endfor %}
                    {% if field.help_text %}
                        <span class='help-block'>
                            {{ field.help_text }}
                        </span>
                    {% endif %}
                </div>
            {% endif %}
            </div>
        {% endfor %}

    </div>

    <div class="well well-blank">

        <div class="sub-header">
            <h3>{% trans "Store location" %}</h3>
        </div>

        <div>
            <input id="searchTextField" class="span12" style="margin-bottom: 1em;" />
            <div id="storeMap" style="width: 968px; height: 380px"></div>
        </div>
    </div>

    <div class="well well-blank">

        <div class="sub-header">
            <h3>{% trans "Opening Hours" %}</h3>
        </div>

        {% for formset in inlines %}
            {{ formset.management_form }}
            {% for form in formset %}
            <div class='row-fluid' style="margin-bottom: 1em;">

                {% for field in form %}
                <div class="span2">
                    {% if field.is_hidden %}
                        {{ field }}
                    {% else %}
                        <span class="control-group {% if field.errors %}error{% endif %}">
                            {{ field.label_tag }}
                            {{ field }}
                            {% for error in field.errors %}
                                <ul class="help-block">
                                    <li>{{ error|escape }}</li>
                                </ul>
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>
                {% endfor %}

            </div>
            {% endfor %}
        {% endfor %}
    </div>

    <hr/>

    <div class="control-group">
        <div class="pull-right">
            <a href="{% url stores-dashboard:store-list %}">{% trans "Cancel" %}</a>
            or
            <button class="btn btn-primary btn-large" type="submit">{% trans "Save Store" %}</button>
        </div>
    </div>
</form>
</div>
{% endblock dashboard_content %}

{% block extrascripts %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/stores.js"></script>
{{ block.super }}
{% endblock %}

{% block onbodyload %}
stores.dashboard.init();
{% endblock onbodyload %}
