{% extends 'oscar/dashboard/layout.html' %}
{% load i18n %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url 'stores-dashboard:store-list' %}">{% trans "Stores" %}</a>
        <span class="divider">/</span>
    </li>
    <li>
        {{ object.name }}
        <span class="divider">/</span>
    </li>
    <li class="active">{% trans "Delete store?" %}</li>
</ul>
{% endblock %}

{% block headertext %}
    {% trans "Delete store?" %}
{% endblock %}

{% block dashboard_content %}
<form action="." method="post">
    {% csrf_token %}
    {% blocktrans with store_name=object.name %}
    <p>Delete store <strong>{{ store_name }}</strong> - are you sure?</p>
    {% endblocktrans %}
    <div class="form-actions">
        <button type="submit" class="btn btn-large btn-danger">{% trans "Delete" %}</button>
        {% trans "or" %}
        <a href="{% url 'stores-dashboard:store-list' %}">{% trans "cancel" %}</a>.
    </div>
</form>
{% endblock %}
