{% extends "oscar/layout.html" %}
{% load i18n %}
{% load currency_filters %}
{% load promotion_tags %}
{% load chocolatebox_category_tags %}


{% block layout %}
    {% chocolatebox_category_tree depth=2 as categories %}

	{% include "partials/brand.html" %}
	{% block promobanner %}
        {% include "promotions/text.html" %}
	{% endblock promobanner %}


    <div class="container-fluid page">
        <div class="page_inner">
            {% include "partials/alert_messages.html" %}
            {% block breadcrumbs %}
                <ul class="breadcrumb hidden-phone">
                    <li>
                        <a href="{% url promotions:home %}">{% trans "Home" %}</a>
                        <span class="divider">/</span>
                    </li>
                    <li class="active">
                        <a href="/stores/">Stores</a>
                    </li>
                </ul>
            {% endblock %}
            <section class="stores-list">
    			<h1 class="hidden-phone">View our stores</h1>
    			<div class='row-fluid'>
    	            <map class='span12 hidden-phone'>
    	                <div class='store-map' style="width: 940px; height: 380px;"></div>
    	            </map>
    	        </div>
                {% for group in store_group_list %}
                <ul class="store-section {{ group.name }}">
                    {% for store in group.stores.all %}
        				{% if forloop.first %}
        					<li>
        						<div class="sub-header">
        	                         <h3>{{ group.name }}</h3>
        	                     </div>
        					</li>
        				{% endif %}
                        <li>
        				    {% include "stores/partials/store_address.html" %}
        					<div class='sub-header'>
                            	<h5>Opening Hours</h5>
                        	</div>
        			        <table class='table table-bordered table-striped opening-hours'>
        	                    <tbody>
        	                    {% for ot_item in store.opening_times.all %}
        	                        <tr><td>{{ ot_item.title|capfirst }}</td><td>{{ ot_item.time }}</td></tr>
        	                    {% endfor %}
        	                    </tbody>
        	                </table>
        				</li>
                        {% if forloop.counter|divisibleby:4 %}
                    </ul>
                        {% endif %}
                    {% endfor %}
        			</ul>
                {% endfor %}
            </section>
        </div>
    </div>
	
	{% include "partials/newsletter.html" %}
    {% include "partials/footer.html" %}
{% endblock %}

{% block onbodyload %}
chocolatebox.maps.createOverviewMap();
{% endblock %}
